.bg-black{
    background-color:black
}
.bg-b-17{
    background-color:#111111
}
.bg-b-34{
    background-color:#222222
}

.my-a{
    &:link {
        color:grey;
        background-color: transparent;
        text-decoration: none;
    }
    
    &:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
    }
    
    &:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
    }
    
    &:active {
        color: grey;
        background-color: transparent;
        text-decoration: underline;
    }
}
.text-grey{
    color:grey
}